<!DOCTYPE html>
<html lang="en">
  <head>
<nav class="navbar navbar-dark bg-dark">
      <a class="navbar-brand" href="/">BuildCats.com</a>
    </nav>
{% include 'snippets/css.html' %}
  </head>
  <body>
    <ul>
<p><h4><a class="btn btn-lg btn-primary" href="{% url 'new_cat'  %}" role="button">Build new cat</a></h4></br></p>
<div class="row">
     <div class="col-sm-6 text-center col-sm-offset-3">
<div class="row">
{% for obj in object_list %}

<div class="col-lg-4 ">
   <div style="border:2px solid #007bff;padding: 8px">
          <h3>Name: {{ obj.name }}</h3></br>
 <a class="btn btn-primary" href="{% url 'cat_edit' pk=obj.pk %}" role="button">Change the cat</a>
    <p> <dt>Numbers of paw:</dt> <dd>{{ obj.paw }}</dd>
             <dt> Age:</dt><dd>{{ obj.age }}</dd>
             <dt> Species:</dt><dd>{{ obj.species }}</dd>
             <dt> Hairiness:</dt><dd>{{ obj.hairiness }}</dd></p>



    <form action="{% url 'cat_delete' pk=obj.pk %}" method="post">
    {% csrf_token %}
        <p><input class="btn btn-primary" type="submit" role="button" value="Delete the cat"></p>

</form>
       </div>
     </br>
        </div>

{% endfor %}
    </div>
</ul>
      {% block content %}
        {% endblock %}
    </div>
</div>
  </div>
</body>
{% include 'snippets/js.html' %}
</html>
