 {% extends 'base.html' %}
    {% block content %}


           <div class="container">



     <div class="col-6 col-lg-4" >
   <div style="border:2px solid #79443b;padding: 8px">
        <!--<div class="blog">-->
            <!--{% if Cat.date %}-->
                <!--<div class="date">-->
                    <!--{{ Cat.date }}-->
                    <!---->
            <!--{% endif %}-->
        <div class="col-6 col-lg-4">
 <div class="cat">
        <h3>Name: {{ cat.name }}</h3></br>
      author:<h4>{{ cat.user }}</h4>
    <p> <dt>Numbers of paw:</dt> <dd>{{ cat.paw }}</dd>
             <dt> Age:</dt><dd>{{ cat.age }}</dd>
             <dt> Species:</dt><dd>{{ cat.species }}</dd>
             <dt> Hairiness:</dt><dd>{{ cat.hairiness }}</dd></p>

                   {% if cat.user == request.user%}
    <form action="{% url 'cat_delete' pk=cat.pk %}" method="post">
    {% csrf_token %}
        <p><input class="btn btn-primary" style ="background-color:#79443b" type="submit" role="button" value="Delete the cat"></p>
    </form>
        {% endif %}


 </div>
             {% if cat.user == request.user%}
<a class="btn btn-primary" style ="background-color:#79443b" href="{% url 'cat_edit' pk=cat.pk %}" role="button">Change the cat</a>
                    {% endif %}

   </div>
     </div>
 </div>
           </div>
           </div>
        </div>
    {% endblock %}

